# Data frameworks comparison

In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [2]:
DATA_PATH = 'data/311_Service_Requests_from_2010_to_Present.csv'

dtypes = {
        'Unique Key': 'int',
         'Created Date': 'object',
         'Closed Date': 'object',
         'Agency': 'object',
         'Agency Name': 'object',
         'Complaint Type': 'object',
         'Descriptor': 'object',
         'Location Type': 'object',
         'Incident Zip': 'object',
         'Incident Address': 'object',
         'Street Name': 'object',
         'Cross Street 1': 'object',
         'Cross Street 2': 'object',
         'Intersection Street 1': 'object',
         'Intersection Street 2': 'object',
         'Address Type': 'object',
         'City': 'object',
         'Landmark': 'object',
         'Facility Type': 'object',
         'Status': 'object',
         'Due Date': 'object',
         'Resolution Description': 'object',
         'Resolution Action Updated Date': 'object',
         'Community Board': 'object',
         'BBL': 'object',
         'Borough': 'object',
         'X Coordinate (State Plane)': 'object',
         'Y Coordinate (State Plane)': 'object',
         'Open Data Channel Type': 'object',
         'Park Facility Name': 'object',
         'Park Borough': 'object',
         'Vehicle Type': 'object',
         'Taxi Company Borough': 'object',
         'Taxi Pick Up Location': 'object',
         'Bridge Highway Name': 'object',
         'Bridge Highway Direction': 'object',
         'Road Ramp': 'object',
         'Bridge Highway Segment': 'object',
         'Latitude': 'float',
         'Longitude': 'float',
         'Location': 'object'
    }

## Pandas

In [35]:
%time df = pd.read_csv(DATA_PATH, usecols = ['Agency', 'Borough', 'Complaint Type'])

CPU times: user 53.8 s, sys: 2.2 s, total: 56 s
Wall time: 58.6 s

In [4]:
%time df['Complaint Type'].mode()

CPU times: user 1.02 s, sys: 0 ns, total: 1.02 s
Wall time: 1.01 s

0    Noise - Residential
dtype: object

In [5]:
%time df.groupby('Borough')['Complaint Type'].agg(pd.Series.mode)

CPU times: user 2.66 s, sys: 276 ms, total: 2.93 s
Wall time: 2.93 s

Borough
BRONX            Noise - Residential
BROOKLYN         Noise - Residential
MANHATTAN        Noise - Residential
QUEENS           Noise - Residential
STATEN ISLAND       Street Condition
Unspecified                  HEATING
Name: Complaint Type, dtype: object

In [6]:
most_common_complaint = df['Complaint Type'].mode().values[0]

%time df.loc[df['Complaint Type'] == most_common_complaint, 'Agency'].unique()

CPU times: user 1.08 s, sys: 159 Âµs, total: 1.08 s
Wall time: 1.08 s

array(['NYPD', 'DOITT'], dtype=object)

## SQLite

In [7]:
con_sqlite = create_engine('sqlite:///data.db').connect()

In [8]:
# %time df[['Complaint Type', 'Borough', 'Agency']].to_sql('data', con=con_sqlite, index=True, index_label='id', if_exists='replace')

In [9]:
query_1 = """
SELECT `Complaint Type`, COUNT(*) as value 
FROM data 
GROUP BY `Complaint Type` 
ORDER BY value DESC
"""

%time con_sqlite.execute(query_1).fetchone()

CPU times: user 10.6 s, sys: 1.14 s, total: 11.8 s
Wall time: 16.8 s

('Noise - Residential', 2270937)

In [10]:
query_2 = """
SELECT Borough, `Complaint Type`, value FROM (
    SELECT Borough, `Complaint Type`, value, ROW_NUMBER() OVER(
        PARTITION BY agg_data.Borough
        ORDER BY agg_data.Borough, agg_data.value DESC
) rn
    FROM (
        SELECT 
            Borough, `Complaint Type`, COUNT(*) as value
        FROM
            data
        GROUP BY Borough, `Complaint Type`    
    ) as agg_data
) s
WHERE rn = 1
"""

%time con_sqlite.execute(query_2).fetchall()

CPU times: user 22.5 s, sys: 872 ms, total: 23.3 s
Wall time: 23.4 s

[('BRONX', 'Noise - Residential', 616749),
 ('BROOKLYN', 'Noise - Residential', 650335),
 ('MANHATTAN', 'Noise - Residential', 489085),
 ('QUEENS', 'Noise - Residential', 445077),
 ('STATEN ISLAND', 'Street Condition', 128431),
 ('Unspecified', 'HEATING', 282916)]

In [11]:
query_3 = f"""
SELECT DISTINCT Agency
FROM data
WHERE `Complaint Type` = '{most_common_complaint}'
"""

%time con_sqlite.execute(query_3).fetchall()

CPU times: user 1.31 s, sys: 176 ms, total: 1.49 s
Wall time: 1.49 s

[('NYPD',), ('DOITT',)]

## MySQL

Before running this code run mysql docker with script `run_mysql_docker.sh`

In [39]:
!mysql -uroot -pdocker -h 172.17.0.2 -P 3306 -e "CREATE DATABASE data;"

mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 1007 (HY000) at line 1: Can't create database 'data'; database exists

In [50]:
con_mysql = create_engine('mysql://root:docker@172.17.0.2/data?charset=utf8').connect()

In [40]:
%time df[['Complaint Type', 'Borough', 'Agency']].to_sql('data', con=con_mysql, if_exists='replace')

Exception during reset or similar
Traceback (most recent call last):
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/pool/base.py", line 680, in _finalize_fairy
    fairy._reset(pool)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/pool/base.py", line 867, in _reset
    pool._dialect.do_rollback(self)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/base.py", line 2253, in do_rollback
    dbapi_connection.rollback()
MySQLdb._exceptions.OperationalError: (2013, 'Lost connection to MySQL server during query')

CPU times: user 4min 23s, sys: 7.08 s, total: 4min 30s
Wall time: 8min 35s

In [52]:
query_1 = """
SELECT `Complaint Type`, COUNT(*) as value 
FROM data 
GROUP BY `Complaint Type` 
ORDER BY value DESC
"""

%time con_mysql.execute(query_1).fetchone()

Exception during reset or similar
Traceback (most recent call last):
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1249, in _execute_context
    cursor, statement, parameters, context
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 580, in do_execute
    cursor.execute(statement, parameters)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/MySQLdb/cursors.py", line 206, in execute
    res = self._query(query)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/MySQLdb/cursors.py", line 320, in _query
    self._do_get_result(db)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/MySQLdb/cursors.py", line 145, in _do_get_result
    self._result = result = self._get_result()
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/MySQLdb/cursors.py", line 352, in _get_result
    return self._get_db().store_result()
MySQLdb._exceptions.OperationalError: (1114, "The table '/tmp/#sql1_8_4' is full")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/IPython/core/magics/execution.py", line 1302, in time
    out = eval(code, glob, local_ns)
  File "<timed eval>", line 1, in <module>
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 982, in execute
    return self._execute_text(object_, multiparams, params)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1155, in _execute_text
    parameters,
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1253, in _execute_context
    e, statement, parameters, cursor, context
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1473, in _handle_dbapi_exception
    util.raise_from_cause(sqlalchemy_exception, exc_info)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/util/compat.py", line 398, in raise_from_cause
    reraise(type(exception), exception, tb=exc_tb, cause=cause)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/util/compat.py", line 152, in reraise
    raise value.with_traceback(tb)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1249, in _execute_context
    cursor, statement, parameters, context
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 580, in do_execute
    cursor.execute(statement, parameters)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/MySQLdb/cursors.py", line 206, in execute
    res = self._query(query)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/MySQLdb/cursors.py", line 320, in _query
    self._do_get_result(db)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/MySQLdb/cursors.py", line 145, in _do_get_result
    self._result = result = self._get_result()
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/MySQLdb/cursors.py", line 352, in _get_result
    return self._get_db().store_result()
sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (1114, "The table '/tmp/#sql1_8_4' is full")
[SQL:
SELECT `Complaint Type`, COUNT(*) as value
FROM data
GROUP BY `Complaint Type`
ORDER BY value DESC
]
(Background on this error at: http://sqlalche.me/e/e3q8)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2040, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OperationalError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/pool/base.py", line 680, in _finalize_fairy
    fairy._reset(pool)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/pool/base.py", line 867, in _reset
    pool._dialect.do_rollback(self)
  File "/home/pwielopolski/anaconda3/envs/datascience/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/base.py", line 2253, in do_rollback
    dbapi_connection.rollback()
MySQLdb._exceptions.OperationalError: (2013, 'Lost connection to MySQL server during query')

OperationalError: (MySQLdb._exceptions.OperationalError) (1114, "The table '/tmp/#sql1_8_4' is full")
[SQL:
SELECT `Complaint Type`, COUNT(*) as value
FROM data
GROUP BY `Complaint Type`
ORDER BY value DESC
]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [49]:
query_2 = """
SELECT /*+ SET_VAR(tmp_table_size=4294967296, max_heap_table_size=4294967296) */ Borough, `Complaint Type`, value FROM (
    SELECT Borough, `Complaint Type`, value, ROW_NUMBER() OVER(
        PARTITION BY agg_data.Borough
        ORDER BY agg_data.Borough, agg_data.value DESC
) rn
    FROM (
        SELECT 
            Borough, `Complaint Type`, COUNT(*) as value
        FROM
            data
        GROUP BY Borough, `Complaint Type`    
    ) as agg_data
) s
WHERE rn = 1
"""

%time con_mysql.execute(query_2).fetchall()

OperationalError: (MySQLdb._exceptions.OperationalError) (1114, "The table '/tmp/#sql1_9_6' is full")
[SQL:
SELECT /*+ SET_VAR(tmp_table_size=4294967296, max_heap_table_size=4294967296) */ Borough, `Complaint Type`, value FROM (
    SELECT Borough, `Complaint Type`, value, ROW_NUMBER() OVER(
        PARTITION BY agg_data.Borough
        ORDER BY agg_data.Borough, agg_data.value DESC
) rn
    FROM (
        SELECT
            Borough, `Complaint Type`, COUNT(*) as value
        FROM
            data
        GROUP BY Borough, `Complaint Type`
    ) as agg_data
) s
WHERE rn = 1
]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [45]:
%time con_mysql.execute(query_3).fetchall()

CPU times: user 9.86 ms, sys: 570 Âµs, total: 10.4 ms
Wall time: 13.1 s

[('NYPD',), ('DOITT',)]

## Dask

In [18]:
del df

In [19]:
import dask.dataframe as dd

In [20]:
df_dask = dd.read_csv(
    DATA_PATH, 
    blocksize = 1e9,
    usecols = ['Agency', 'Borough', 'Complaint Type']
)

In [21]:
df_dask.head()

  Agency     Complaint Type      Borough
0    HPD     HEAT/HOT WATER       QUEENS
1    HPD     HEAT/HOT WATER    MANHATTAN
2    HPD      PAINT/PLASTER        BRONX
3   DSNY  Derelict Vehicles  Unspecified
4    DEP              Sewer       QUEENS

In [22]:
%time df_dask[['Complaint Type']].mode().compute()

CPU times: user 1min 21s, sys: 10.8 s, total: 1min 32s
Wall time: 42 s

0    Noise - Residential
Name: Complaint Type, dtype: object

In [23]:
def chunk(s):
    # for the comments, assume only a single grouping column, the 
    # implementation can handle multiple group columns.
    #
    # s is a grouped series. value_counts creates a multi-series like 
    # (group, value): count
    return s.value_counts()


def agg(s):
#     print('agg',s.apply(lambda s: s.groupby(level=-1).sum()))
    # s is a grouped multi-index series. In .apply the full sub-df will passed
    # multi-index and all. Group on the value level and sum the counts. The
    # result of the lambda function is a series. Therefore, the result of the 
    # apply is a multi-index series like (group, value): count
    return s.apply(lambda s: s.groupby(level=-1).sum())

    # faster version using pandas internals
    s = s._selected_obj
    return s.groupby(level=list(range(s.index.nlevels))).sum()


def finalize(s):
    # s is a multi-index series of the form (group, value): count. First
    # manually group on the group part of the index. The lambda will receive a
    # sub-series with multi index. Next, drop the group part from the index.
    # Finally, determine the index with the maximum value, i.e., the mode.
    level = list(range(s.index.nlevels - 1))
    return (
        s.groupby(level=level)
        .apply(lambda s: s.reset_index(level=level, drop=True).idxmax())
    )

max_occurence = dd.Aggregation('mode', chunk, agg, finalize)

In [24]:
%time df_dask.groupby(['Borough']).agg({'Complaint Type': max_occurence}).compute()

CPU times: user 1min 55s, sys: 12.2 s, total: 2min 8s
Wall time: 32.3 s

                    Complaint Type
Borough
BRONX          Noise - Residential
BROOKLYN       Noise - Residential
MANHATTAN      Noise - Residential
QUEENS         Noise - Residential
STATEN ISLAND     Street Condition
Unspecified                HEATING

In [25]:
%time df_dask.loc[df_dask['Complaint Type'] == most_common_complaint, 'Agency'].unique().compute()

CPU times: user 1min 41s, sys: 10.8 s, total: 1min 52s
Wall time: 29.6 s

0     NYPD
1    DOITT
Name: Agency, dtype: object